<div class="dashboard-container">
    <div class="dashboard-row">
        <div class="rectangular-container">
            <div class="cont-icon"><i class="yellow fa-solid fa-lightbulb"></i></div>
            <p class="timestamp">{{  dl.datetime }}</p>
            <p class="value">{{ dl ? dl.value : "" }}</p>
            <p class="device-tag">DL</p>
        </div>
    
        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705850375678&to=1705871975678&panelId=1" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851229492&to=1705872829492&panelId=3" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851481111&to=1705873081111&panelId=7" width="450" height="200" frameborder="0"></iframe>        </div>

        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851490559&to=1705873090559&panelId=8" width="450" height="200" frameborder="0"></iframe>        </div>
        
        <div class="group-container">
            <div class="circle rectangular-container">
                <p class="device-tag">DHT1</p>
                <!-- <p class="timestamp">{{ dht1[0].datetime }}</p> -->
                <p class="value">{{ dht1[0] ? dht1[0].value : "" }}C</p>
                <p class="value-2">{{ dht1[1] ? dht1[1].value : ""  }}%</p>
            </div>
            <div class="circle rectangular-container green-border">
                <p class="device-tag">DHT2</p>
                <p class="value">{{ dht2[0] ? dht2[0].value : "" }}C</p>
                <p class="value-2">{{ dht2[1] ? dht2[1].value : ""  }}%</p>
            </div>
        </div>
        
    </div>
    <div class="dashboard-row">
        <div class="group-container">
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="light-blue fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  rpir1.datetime }}</p>
                <p class="value">{{ rpir1.value ? rpir1.value : "none" }}</p>
                <p class="device-tag" style="background-color: #FFCB52 !important;">RPIR1</p>
            </div>
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="light-blue fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  rpir2.datetime }}</p>
                <p class="value">{{ rpir2.value ? rpir2.value : "none" }}</p>
                <p class="device-tag" style="background-color: #FFCB52 !important;">RPIR2</p>
            </div>
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="light-blue fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  dpir1.datetime }}</p>
                <p class="value">{{ dpir1.value ? dpir1.value : "none" }}</p>
                <p class="device-tag" style="background-color: #FFCB52 !important;">DPIR1</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
    <div class="dashboard-row">
        <div class="iframe-cont">
            <iframe class="frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852861226&to=1705874461226&panelId=6" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="rectangular-container wider bigger-rectangular-width">
            <!-- <p class="timestamp">13:00 25.1.2024.</p> -->
            <p class="value font-size-64">{{ "ENTERED" ? ds1.value == "pressed" : "CLOSED"}}</p>
            <p class="device-tag bigger-device-tag">DS1</p>
            <div class="bigger-icon-right"><i class="yellow fa-solid fa-door-open"></i></div>
            <!-- <div class="bigger-icon"><i class="yellow fa-solid fa-door-closed"></i></div> -->
        </div>
    </div>

    <div class="dashboard-row">
        <div class="group-container">
            <div class="green-border rectangular-container wider">
                <div class="cont-icon"><i class="green fa-solid fa-music"></i></div>
                <p class="timestamp">{{  db.datetime }}</p>
                <p class="value">{{ db.value }}</p>
                <p class="device-tag" style="background-color: #2C87D7 !important;">BB</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
    
    <div class="dashboard-row">
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852566267&to=1705874166267&panelId=5" width="450" height="200" frameborder="0"></iframe>
        </div>
        <div class="light-blue-border rectangular-container wider bigger-rectangular-width">
            
            <div class="bigger-icon-left"><i class="light-blue fa-solid fa-person-walking"></i></div>
            <p class="device-tag bigger-device-tag" style="background-color: #FFCB52 !important;">DUS1</p>
            <div style="display: flex; flex-direction: column; padding: 12px 20px; align-items: center;">
                <p class="timestamp">{{  uds1.datetime }}</p>
                <p class="value font-size-64">{{ uds1.value ? uds1.value + " cm" : "none" }} </p>
            </div>
            <!-- <p class="device-tag bigger-device-tag">DS1</p> -->
            <!-- <div class="bigger-icon"><i class="white fa-solid fa-door-closed"></i></div> -->

        </div>
        
        

    </div>

</div>



