<div class="dashboard-container">
    <div class="dashboard-row">
        <div class="group-container">
            <div class="circle rectangular-container">
                <p class="device-tag">RDHT4</p>
                <p class="value">{{ dht4[0] ? dht4[0].value : "" }}C</p>
                <p class="value-2">{{ dht4[1] ? dht4[1].value : ""  }}%</p>
            
            </div>
        </div>
    
        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705850375678&to=1705871975678&panelId=1" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705850375678&to=1705871975678&panelId=1" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="group-container">
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="light-blue fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  rpir4.datetime }}</p>
                <p class="value">{{ rpir4.value ? rpir4.value : "none" }}</p>
                <p class="device-tag" style="background-color: #FFCB52 !important;">RPIR4</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
    <div class="dashboard-row">
        <div class="group-container">
            <div class="yellow-border rectangular-container wider">
                <div class="cont-icon"><i class="yellow fa-solid fa-lightbulb"></i></div>
                <p class="timestamp">{{ rgb.datetime }}</p>
                <p class="value">{{ rgb.value? rgb.value.toUpperCase(): "" }}</p>
                <p class="device-tag">BRGB</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>

    <div class="dashboard-row">
        <div class="group-container">
            <div class="green-border rectangular-container wider">
                <div class="cont-icon"><i class="green fa-solid fa-music"></i></div>
                <p class="timestamp">{{  bb.datetime }}</p>
                <p class="value">{{ bb.value }}</p>
                <p class="device-tag" style="background-color: #2C87D7 !important;">BB</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
    

</div>



