<div class="dashboard-container">
    <div class="dashboard-row">
        <div class="group-container" style="justify-content: right;">
            <div class="circle rectangular-container light-blue-border" style="margin-right: 40px;">
                <p class="device-tag">GSG</p>
                <p class="value">{{ gyro[0] ? gyro[0].value : "" }}</p>
                <p class="value-2">x axis</p>
            </div>
            <div class="circle rectangular-container green-border" style="margin-right: 35px;">
                <p class="device-tag">GSG</p>
                <p class="value">{{ gyro[1] ? gyro[1].value : "" }}</p>
                <p class="value-2">y axis</p>
            </div>
            <div class="circle rectangular-container">
                <p class="device-tag">GSG</p>
                <p class="value">{{ gyro[2] ? gyro[2].value : "" }}</p>
                <p class="value-2">z axis</p>
            </div>
        </div>
    
        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705850375678&to=1705871975678&panelId=1" width="450" height="200" frameborder="0"></iframe>
        </div>
    </div>
    <div class="dashboard-row">
        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851481111&to=1705873081111&panelId=7" width="450" height="200" frameborder="0"></iframe>        </div>

        <div class="iframe-cont">
            <iframe src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705851490559&to=1705873090559&panelId=8" width="450" height="200" frameborder="0"></iframe>        </div>
        
        <div class="group-container">
            <div class="circle rectangular-container">
                <p class="device-tag">GDHT</p>
                <p class="value">{{ gdht[0] ? gdht[0].value : "" }}C</p>
                <p class="value-2">{{ gdht[1] ? gdht[1].value : ""  }}%</p>
            </div>
            <div class="circle rectangular-container green-border">
                <p class="device-tag">RDHT3</p>
                <p class="value">{{ dht3[0] ? dht3[0].value : "" }}C</p>
                <p class="value-2">{{ dht3[1] ? dht3[1].value : ""  }}%</p>
            </div>
        </div>
        
    </div>
    <div class="dashboard-row">
        <div class="group-container">
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="yellow fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  dpir2.datetime }}</p>
                <p class="value">{{ dpir2.value ? dpir2.value : "none" }}</p>
                
                <p class="device-tag">DPIR2</p>
            </div>
            <div class="light-blue-border rectangular-container wider">
                <div class="cont-icon"><i class="yellow fa-solid fa-person-walking"></i></div>
                <p class="timestamp">{{  rpir3.datetime }}</p>
                <p class="value">{{ rpir3.value ? rpir3.value : "none" }}</p>
                <p class="device-tag" style="background-color: #FFCB52 !important;">PIR3</p>
            </div>
        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852433580&to=1705874033580&panelId=4" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>
    <div class="dashboard-row">
        <div class="iframe-cont">
            <iframe class="frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852861226&to=1705874461226&panelId=6" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="rectangular-container wider bigger-rectangular-width">
            <!-- <p class="timestamp">13:00 25.1.2024.</p> -->
            <p class="value font-size-64">{{ "ENTERED" ? ds2.value == "pressed" : "CLOSED"}}</p>
            <p class="device-tag bigger-device-tag">DS2</p>
            <div class="bigger-icon-right"><i class="yellow fa-solid fa-door-open"></i></div>
            <!-- <div class="bigger-icon"><i class="yellow fa-solid fa-door-closed"></i></div> -->

        </div>
        
        

    </div>
    <div class="dashboard-row">
        <div class="light-blue-border rectangular-container wider bigger-rectangular-width">
            
            <div class="bigger-icon-left"><i class="light-blue fa-solid fa-person-walking"></i></div>
            <p class="device-tag bigger-device-tag">DUS2</p>
            <div style="display: flex; flex-direction: column; padding: 12px 20px; align-items: center;">
                <p class="timestamp">{{  dus2.datetime }}</p>
                <p class="value font-size-64">{{ dus2.value ? dus2.value + " cm" : "none" }}</p>
            </div>
            <!-- <p class="device-tag bigger-device-tag">DS1</p> -->
            <!-- <div class="bigger-icon"><i class="white fa-solid fa-door-closed"></i></div> -->

        </div>
        
        <div class="iframe-cont">
            <iframe class=" frame-wider" src="http://localhost:3000/d-solo/fbbb7394-4fa6-4bc7-9a7b-7bd062439d90/iot?orgId=1&from=1705852566267&to=1705874166267&panelId=5" width="450" height="200" frameborder="0"></iframe>
        </div>

    </div>

</div>



